node_modules/
www/
.DS_Store
*.log
build/
DerivedData/
ios/App/Pods/
ios/App/build/
ios/App/xcuserdata/
ios/App/*.xcworkspace/xcuserdata/
ios/App/App.xcodeproj/xcuserdata/
ios/App/App.xcodeproj/project.xcworkspace/xcuserdata/
